<% provide(:title, @forum.name) %>
<% content_for :sidebar_current do %>
  <%= render partial: 'communities/sidebar_current', locals: {community: @forum.community} %>
<% end %>
<%= render partial: 'layouts/nav', locals: {
      community: @forum.community,
      forum: @forum,
    } %>


<section class="forum">
  <h2><%= @forum.name %></h2>
  <%= link_to "New Topic", new_forum_topic_path(@forum) %>
  <%= paginate @topics %>
  <section class="topic-summaries">
    <table class="topic-summaries">
      <thead>
        <tr>
          <th>All Topics</th>
          <th>Points</th>
          <th>Replies</th>
          <th>Views</th>
        </tr>
      </thead>
      <tbody>
        <% @topics.each do |topic| %>
          <%= render partial: 'topics/summary', locals: {topic: topic} %>
        <% end %>
      </tbody>
    </table>
  </section>
  <%= paginate @topics %>
</section>
