<tr class="topic-summary">
  <td class="info">
    <div class="title">
      <h4>
        <% if topic.pinned? %>
          <i class="icon-exclamation-sign"></i>
        <% end %>
        <%= link_to topic.title, topic %>
      </h4>
    </div>
    <% creator = topic.creator %>
    <div class="creator">
      Started by
      <%= link_to creator.name, creator %>
    </div>
    <div class="last-poster">
      <% last_post = topic.posts.last %>
      Last post by <%= link_to last_post.author.name, last_post.author %>
      (<time><%= time_ago_in_words(last_post.created_at) %> ago</time>)
    </div>
  </td>
  <td class="votes">
    <%= points_with_color(topic.posts.first).html_safe %>
    <br>
    <span>Points</span>
  </td>
  <td class="num-replies">
    <span><%= topic.posts.length %></span>
    <br>
    <span>Posts</span>
  </td>
  <td class="num-views">
    <span><%= topic.views_count %></span>
    <br>
    <span>Views</span>
  </td>
</tr>
