<%= render partial: 'layouts/nav', locals: {
      community: @topic.community,
      forum: @topic.forum,
      topic: @topic
    } %>

<article class="topic">
  <section class="title">
    <h2><%= @topic.title %></h2>
  </section>
  <section class="buttons">
    <% if current_user.is_admin?(@topic.community) %>
      <%= link_to @topic.pinned? ? "Unpin" : "Pin", topic_toggle_pinned_path(@topic), method: :put %>
    <% end %>
  </section>
  <%= paginate @posts %>
  <section class="posts">
    <%= render @posts %>
  </section>
  <%= paginate @posts %>
  <section class="reply">
    <%= render partial: 'posts/form', locals: {post: @topic.posts.new} %>
  </section>
  <%= link_to "Topic List", @topic.forum %>
</article>
