<section class="info">
    <% var user = post.get("author") %>
    <% if (user) { %>
      <div class="gravatar">
        <img src="<%= user.gravatarUrl() %>" alt="<%= user.get("name") %>">
      </div>
      <div class="name">
        <a href="<%= user.profilePath() %>"><%= user.get("name") %></a>
      </div>
      <div class="time">
        (<time><%= jQuery.timeago(post.get("created_at")) %></time>)
      </div>
    <% } %>
  </section>
<section class="body"><%= post.escape("body") %></section>
