<article class="post">
  <section class="info">
    <% user = post.author %>
    <div class="gravatar">
      <%= gravatar_for user %>
    </div>
    <div class="name">
      <%= link_to user.name, user %>
    </div>
    <div class="time">
      (<time><%= time_ago_in_words(post.created_at) %> ago</time>)
    </div>
  </section>
  <section class="body"><%= post.body.html_safe %></section>
  <section class="votes">
    <%= link_to "▲", post_votes_path(post), method: :post, class: 'up' %>
    <%= points_with_color(post).html_safe %>
    <%= link_to "▼", post_votes_path(post), method: :delete, class: 'down' %>
  </section>
</article>
