<% provide(:title, @community.name) %>
<% content_for :sidebar_current do %>
  <%= render partial: 'communities/sidebar_current', locals: {community: @community} %>
<% end %>
<%= render partial: 'layouts/nav', locals: {community: @community} %>

<article class="community">
  <section class="title">
    <h2><%= @community.name %></h2>
  </section>
  <% if current_user.is_admin?(@community) %>
    <section class="admin-panel">
      <%= link_to "Add Category", new_community_category_path(@community), class: "btn btn-success" %>
    </section>
  <% end %>
  <section class="categories">
    <%= render @community.categories %>
  </section>
</article>
