<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Our Community", root_path, id:"logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
            <li><%= link_to "Create Community", new_community_path %></li>
            <li><%= link_to "Profile", current_user %></li>
            <li>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
            </li>
          <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
